.quote-banner{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    padding:30px;
    text-align: center;

    .quote-text{
      font-size:30px;
      font-family: monospace;
      color: grey;
      }
  }


  @media (max-width: 993px) {
    .quote-banner{
      min-height: 20vh!important;
    }
    .quote-text{
      font-size:20px!important;
      
    }
  }
  //  #7785AC