.loading-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
    height: 100%;
    padding:15px;
    span {
        font-family: monospace;
        font-size:12px;
    }
}