* {
  box-sizing: border-box;
}


body{
  background: #faf4d3;
}
.quote-banner{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  .quote-text{
    font-size:30px;
  }
}

