.quote-banner{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    padding:30px;
    text-align: center;

    .quote-text{
      font-size:30px;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      font-family: monospace;
      color: grey;
      }
  }
  //  #7785AC